* {
  box-sizing: border-box;
}

body {
  margin: 0.5rem;
  background-color: #202020;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: azure;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  text-decoration: underline;
}

.cardSection {
  background-color: #282c34;
  padding-bottom: 10rem;
  font-size: calc(6px + 1vmin);
}

.cardContainer {
  justify-self: center;
  align-self: center;
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(240px + 2vmin), 1fr));
  gap: 2rem;
  color: azure;
  grid-gap: 1rem;
  align-items: center;
}

.card {
  margin: 0 auto;
  word-break: break-all;
  background-color: inherit;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.cardPadding {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.divider {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImage {
  margin-top: 1rem;
  background-color: inherit;
  max-width: 240px;
}

.cardTitle {

}

.cardDate {

}

.cardSummary {

}

.cardAnchor {

}

.cardImage {

}

.button {
  padding: 1rem 2rem;
  margin: 0 2rem;
}

.categories {
  color: azure;
}

.categoriesFieldset {
  margin-bottom: 2rem;
}

.checkBox {
  color: azure;
}

label {
  color: azure;
}

.categoryLabels {
  color: azure;
}
