* {
  box-sizing: border-box;
}

body {
  margin: 0.5rem;
  background-color: #202020;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #61dafb;
  text-shadow: 2px 1px 3px pink;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  text-decoration: underline;
}

.cardSection {
  background-color: #282c34;
  padding-bottom: 10rem;
  font-size: calc(6px + 1vmin);
}

.cardContainer {
  justify-self: center;
  align-self: center;
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(240px + 2vmin), 1fr));
  gap: 2rem;
  color: azure;
  grid-gap: 1rem;
  align-items: center;
}

.card {
  margin: 0 auto;
  word-break: break-all;
  background-color: inherit;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.cardPadding {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.divider {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImage {
  margin-top: 1rem;
  background-color: inherit;
  max-width: 240px;
}

.cardTitle {

}

.cardDate {

}

.cardSummary {

}

.cardAnchor {

}

.cardImage {

}

.searchForm {
  background-color: transparent;
  margin: 2rem 0;
}

.searchInput {
  width: 240px;
  font-size: 1.15rem;
}

.categories {
  color: azure;
}

.categoriesFieldset {
  margin-bottom: 2rem;
}

.checkBox {
  color: azure;
}

.checkBox:checked {
  background-color: black;
}

.button {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 0.5rem 0.5rem;
}

.button:disabled {
  cursor: default;
  opacity: .3;
}

.button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

label {
  color: azure;
}

.categoryLabels {
  color: azure;
}

.backNextButtonContainer {
  margin-top: 2rem;
}